<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appsnipp.education">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_build"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashThemeCorrect"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <!-- <activity -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <!-- android:name=".GamePlayActivity"> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".CourseStaggedActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <!-- android:windowSoftInputMode="adjustPan" /> -->

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".Application">
            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".MenuBack">
            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".ui.Events.ListEvent">
            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".ui.Events.UpdateEvent">
        <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
    </activity>
        <activity android:name=".ui.login.ForgotPassword">
            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".ui.login.ResetPasswordActivity">
            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".ui.Events.AddEvent">
            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".ui.login.UserActivity">
            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".ui.Courses.ListCourses">

            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>  <activity android:name=".ui.Courses.AddCourses">
        <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
    </activity>  <activity android:name=".ui.Courses.UpdateCourses">
        <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
    </activity>
        <activity android:name=".ui.User.AdminUser">
            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".ui.Complaints.ListComplaints">
            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".ui.Events.ListEventsFront">
            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".ui.Menu.AdminMenu">

            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".ProfileSettings">
            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>

        <activity android:name=".ui.login.SignupPage">
              <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".ui.login.SigninPage">
            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".ui.Forum.ListForum">
            <!-- Vous pouvez ajouter des attributs supplémentaires ici si nécessaire -->
        </activity>
        <activity android:name=".ui.Forum.Forum">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.WelcomePage"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
    </application>

</manifest>